#role_portrait {
  width: 100%;
  height: 100%;
  display: none;
  background-color: aliceblue;
  z-index: 0;
}
#portrait_name {
  width: 200px;
  height: 50px;
  transition: 0.5s;
}
#portrait {
  width: 200px;
  height: 200px;
  margin: 0px auto 0px auto;
  transition: 0.5s;
}
