.skip {
  display: none;
  position: absolute;
  top: 40px;
  right: 5%;
  z-index: 10;
}
#role_portrait {
  display: none;
  z-index: 10;
  transition: 0.5s;
}
#portrait_name {
  width: 200px;
  height: 50px;
  margin-top: 25%;
  margin-left: 19%;
  z-index: 15;
}
#portrait_name_div {
  font-size: 25px;
  text-shadow: 0px 0px 5px #ffffff3b;
  font-weight: bold;
}
#portrait {
  position: absolute;
  transition: 1s;
  z-index: -1;
}
#portrait_main {
  margin: -50px auto 0px auto;
  width: 750px;
  height: 750px;
  filter: contrast(0%);
  transition: 0s;
  background: 0px 0px/80%;
  background-size: 80%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}
#portrait_color {
  position: absolute;
  z-index: -5;
  filter: blur(25px);
  transition: 0.5s;
}
#portrait_background {
  position: absolute;
  z-index: -4;
  opacity: 0.75;
  background-color: #393927;
}
#role_portrait,
#portrait,
#portrait_color,
#portrait_background,#set_up {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
.star {
  width: 25px;
  height: 25px;
  float: left;
  background-image: url(../resource/Star.png);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 100%;
  transition: 0.5s;
}
#portrait_name_star {
  display: flex;
  width: 150px;
}
#list {
  display: none;
  width: 0px;
  height: 100%;
  margin: 0px auto 0px auto;
}
#portrait_list {
  display: flex;
  width: 700px;
  left: 25%;
  height: 100%;
  flex-wrap: nowrap;
}
.portrait_list {
  min-width: 70px;
  height: 302.5px;
  margin: 150px 2.5px 0px 2.5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: no-repeat 0px 0px/100% url(../resource/wish_list.png);
}
.light_top,
.light_bottom {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  z-index: -1;
  transition: 0.5s;
}
.light_top {
  margin-top: -150px;
  box-shadow: 0px -55px 0px -500px rgba(0, 191, 255, 0);
}
.light_bottom {
  margin-bottom: -150px;
  box-shadow: 0px 55px 0px -500px rgba(0, 191, 255, 0);
}
#list_buttom {
  position: absolute;
  top: 35px;
  right: 2.5%;
}
.close_buttom,#set_up_buttom{
  padding: 2.5px;
  width: 22.5px;
  height: 22.5px;
  border-radius: 100px;
}
.close_buttom {
  background: url(../resource/plus.png) no-repeat center center/100%;
  box-shadow: 0px 0px 2px #ffffff3b;
  transform: rotate(45deg);
}
.list {
  margin: 2px;
  width: 100%;
  height: 75%;
  background-size: 500%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50px;
  transition: 0.5s;
}
.list.三星 {
  background-size: 300%;
}

.list.阿贝多 {
  background-size: 850%;
  background-position: 55% 35%;
}
.list.八重神子 {
  background-position: 55% 0%;
}
.list.艾尔海森 {
  background-size: 900%;
  background-position: 45% 10%;
}
.list.白术 {
  background-size: 800%;
  background-position: 43% 15%;
}
.list.达达利亚 {
  background-size: 900%;
  background-position: 45% 40%;
}
.list.迪卢克 {
  background-size: 900%;
  background-position: 57% 50%;
}
.list.迪希雅 {
  background-size: 900%;
  background-position: 52% 10%;
}
.list.芙宁娜 {
  background-size: 900%;
  background-position: 55% 20%;
}
.list.甘雨 {
  background-position: 50% 10%;
}
.list.胡桃 {
  background-size: 900%;
  background-position: 62.5% 20%;
}
.list.刻晴 {
  background-size: 800%;
  background-position: 57.5% 20%;
}
.list.莱欧斯利 {
  background-size: 1200%;
  background-position: 55% 10%;
}
.list.雷电将军 {
  background-size: 700%;
  background-position: 47.5% 17.5%;
}
.list.林尼 {
  background-size: 1000%;
  background-position: 51% 15%;
}
.list.流浪者 {
  background-size: 800%;
  background-position: 50% 15%;
}
.list.莫娜 {
  background-size: 600%;
  background-position: 50% 25%;
}
.list.那维莱特 {
  background-size: 1000%;
  background-position: 50% 18%;
}
.list.纳西妲 {
  background-size: 650%;
  background-position: 47.5% 60%;
}
.list.娜维娅 {
  background-size: 900%;
  background-position: 57.5% 20%;
}
.list.妮露 {
  background-size: 800%;
  background-position: 52.5% 27.5%;
}
.list.七七 {
  background-size: 500%;
  background-position: 50% 45%;
}
.list.千织 {
  background-size: 700%;
  background-position: 50% 35%;
}
.list.琴 {
  background-size: 700%;
  background-position: 47.5% 25%;
}
.list.赛诺 {
  background-size: 700%;
  background-position: 50% 35%;
}
.list.申鹤 {
  background-size: 700%;
  background-position: 57.5% 20%;
}
.list.神里绫华 {
  background-size: 800%;
  background-position: 50% 45%;
}
.list.神里绫人 {
  background-size: 700%;
  background-position: 45% 20%;
}
.list.提纳里 {
  background-size: 600%;
  background-position: 50% 10%;
}
.list.万叶 {
  background-size: 700%;
  background-position: 47.5% -10%;
}
.list.温迪 {
  background-size: 600%;
  background-position: 45% 40%;
}
.list.闲云 {
  background-size: 800%;
  background-position: 50% 20%;
}
.list.宵宫 {
  background-size: 550%;
}
.list.魈 {
  background-size: 700%;
  background-position: 50% 65%;
}
.list.心海 {
  background-size: 600%;
  background-position: 47.5% 20%;
}
.list.夜兰 {
  background-size: 650%;
  background-position: 45% 20%;
}
.list.优菈 {
  background-size: 750%;
  background-position: 50% 20%;
}
.list.钟离 {
  background-size: 700%;
  background-position: 45% 37.5%;
}

.list.安柏 {
  background-position: 42.5% 50%;
}
.list.芭芭拉 {
  background-position: 50% 30%;
}
.list.班尼特 {
  background-position: 60% 50%;
}
.list.北斗 {
  background-size: 600%;
  background-position: 50% 30%;
}
.list.迪奥娜 {
  background-size: 350%;
  background-position: 45% 50%;
}
.list.多莉 {
  background-size: 350%;
  background-position: 60% 45%;
}
.list.珐露珊 {
  background-position: 45% 20%;
}
.list.菲米尼 {
  background-size: 600%;
  background-position: 65% 20%;
}
.list.菲谢尔 {
  background-position: 55% 50%;
}
.list.嘉明 {
  background-position: 45% 35%;
}
.list.九条裟罗 {
  background-size: 600%;
  background-position: 47.5% 10%;
}
.list.久岐忍 {
  background-position: 55% 40%;
}
.list.卡维 {
  background-size: 600%;
  background-position: 55% 25%;
}
.list.凯亚 {
  background-size: 600%;
  background-position: 52.5% -10%;
}
.list.坎蒂丝 {
  background-size: 500%;
  background-position: 55% 25%;
}
.list.柯莱 {
  background-size: 600%;
  background-position: 40% 40%;
}
.list.莱依拉 {
  background-position: 50% 25%;
}
.list.雷泽 {
  background-size: 600%;
  background-position: 55% 40%;
}
.list.丽莎 {
  background-position: 47.5% 0%;
}
.list.琳妮特 {
  background-position: 45% 50%;
}
.list.鹿野院平藏 {
  background-position: 47.5% 40%;
}
.list.米卡 {
  background-size: 450%;
  background-position: 45% 20%;
}
.list.凝光 {
  background-size: 800%;
  background-position: 60% 10%;
}
.list.诺艾尔 {
  background-size: 600%;
  background-position: 55% 10%;
}
.list.绮良良 {
  background-size: 750%;
  background-position: 47.5% -10%;
}
.list.砂糖 {
  background-size: 650%;
  background-position: 50% 20%;
}
.list.托马 {
  background-size: 650%;
  background-position: 47.5% 20%;
}
.list.夏洛蒂 {
  background-size: 700%;
  background-position: 50% 35%;
}
.list.夏沃蕾 {
  background-size: 600%;
  background-position: 47.5% 50%;
}
.list.香菱 {
  background-size: 750%;
  background-position: 42.5% 0%;
}
.list.辛焱 {
  background-size: 800%;
  background-position: 52.5% 50%;
}
.list.行秋 {
  background-size: 600%;
  background-position: 50% 10%;
}
.list.烟绯 {
  background-size: 750%;
  background-position: 27.5% 0%;
}
.list.瑶瑶 {
  background-size: 300%;
  background-position: 52.5% 40%;
}
.list.云堇 {
  background-position: 50% 25%;
}
.list.早柚 {
  background-size: 650%;
  background-position: 57.5% 40%;
}
.list.重云 {
  background-size: 600%;
  background-position: 52.5% 30%;
}
